.product-wrap {
  margin-bottom: 50px;
  padding: 30px 15px;
  border: 1px solid $color_gray_light;
}

.sp-selected-thumbnail {
  border: 1px solid $color_pink;
}

.sp-slides-container {
  position: relative;
  border: 1px solid $color_gray_light;
  padding: 20px;
  margin-bottom: 20px;
}

.sp-image-container {
  max-width: 480px;
}

.sp-next-thumbnail-arrow:after {
  top: 8px;
}

.sp-next-thumbnail-arrow:after,
.sp-next-thumbnail-arrow:before,
.sp-previous-thumbnail-arrow:after,
.sp-previous-thumbnail-arrow:before {
  width: 2px;
  height: 8px;
  background-color: #333333;
}

.sp-thumbnails-container {
  padding-right: 10px;
  padding-left: 10px;
}

.product-title {
  margin-bottom: 15px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
}

.product-price {
  padding-left: 0;
  margin-bottom: 15px;
  list-style: none;
  font-size: 16px;
  line-height: 1;
  font-weight: 600;
  li {
    margin-right: 10px;
    display: inline-block;
  }
}

.product-price__new {
  color: $color_pink;
}

.product-price__old {
  color: $color_gray;
}

.product-price__percent {
  color: $color_green;
}

.product-desc {
  margin-bottom: 20px;
  color: #989799;
  font-weight: 300;
}

.product-label {
  margin-bottom: 5px;
  font-weight: 300;
}

.product-color {
  margin-bottom: 20px;
}

.product-select {
  margin-bottom: 30px;
  .jq-selectbox__select-text {
    min-width: 200px;
  }
}

.product-number {
  .btn-green {
    min-width: 135px;
    margin-left: 10px;
    font-weight: 600;
  }
  .jq-number__spin.minus:after {
    display: none;
  }
}

.product-info {
  .nav-tabs {
    border-bottom: 0;
  }
  .nav-tabs > li.active > a,
  .nav-tabs > li.active > a:focus,
  .nav-tabs > li.active > a:hover {
    color: #fff;
    background-color: transparent;
    border: 0;
  }
  .nav li a {
    color: #fff;
    border: 0;
    font-weight: 400;
  }
  .nav-tabs > li {
    float: none;
    display: inline-block;
  }
  .nav > li > a:focus,
  .nav > li > a:hover {

    text-decoration: none;
    background-color: transparent;
    border-color: transparent;
  }
  .nav-tabs > li.active > a {
    font-weight: 600;
  }
}

.product-widget {
  margin-bottom: 50px;
}

.product-widget-panel {
  min-height: 55px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  background-color: $color_blue;
  span {
    padding-top: 10px;
    display: inline-block;
  }
}

.product-widget-content {
  padding: 20px;
  border: 1px solid $color_gray_light;
}
