/* common */
@import "common/variables";
@import "common/mixin";
@import "common/fonts";
@import "common/common";
@import "common/form";
@import "common/btn";
/* blocks */
@import "blocks/top-panel";
@import "blocks/header";
@import "blocks/breadcrumbs";

.product-wrap {
  padding: 30px 15px;
  border: 1px solid #eeeeee;
}

.sp-selected-thumbnail {
  border: 1px solid $color_pink;
}

.sp-slides-container {
  position: relative;
  border: 1px solid #eeeeee;
  padding: 20px;
  margin-bottom: 20px;
}

.sp-image-container {
  max-width: 480px;
}

.sp-next-thumbnail-arrow:after {
  top: 8px;
}

.sp-next-thumbnail-arrow:after, .sp-next-thumbnail-arrow:before, .sp-previous-thumbnail-arrow:after, .sp-previous-thumbnail-arrow:before {
  width: 2px;
  height: 8px;
  background-color: #333333;
}

.sp-thumbnails-container {
  padding-right: 10px;
  padding-left: 10px;
}
