@import "../common/variables";

.label-block {
  height: 20px;
  padding-left: 20px;
  margin-right: 10px;
  cursor: pointer;
  position: relative;
  display: inline-block;
  transition: all 0.3s ease;
}

.radio-custom {
  display: none;
  &:checked + .radio-custom-view::before {
    border-color: #252326;
    &::after {
      border-color: #fff;
    }
  }
}

.radio-custom-view {
  &::before {
    background-color: inherit;
    width: 20px;
    height: 20px;
    line-height: 1;
    border-radius: 100%;
    position: absolute;
    top: 1px;
    left: 0;
    border: 2px solid transparent;
    content: '';
  }
}

/*
<label class="label-block">
    <input type="radio" name="" class="radio-custom">
    <span class="radio-custom-view label">Самовывоз</span>
</label>

<label class="label-block">
    <input type="checkbox" name="" class="checkbox-custom">
    <span class="checkbox-custom-view label">Fabfoxx</span>
</label>
*/

.checkbox-custom {
  display: none;
  &:checked + .checkbox-custom-view {
    &::before {
      border-color: #E6DDEE;
    }
  }
  &-view {
    cursor: pointer;
    position: relative;
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    &::before {
      width: 20px;
      height: 20px;
      margin-right: 10px;
      background-color: #ffffff;
      content: '';
      border-radius: 4px;
      border: 1px solid #e3e3e3;
      transition: all 0.3s ease;
    }
    a, span {
      padding-left: 5px;
    }
  }
}

